.home{

    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(1, 4, 14, 0.75), rgba(2, 4, 16, 0.75)) , url("../Assets/michaela-baum-VnM6_liIRJ0-unsplash.jpg");
    background-position: center;
    background-size: cover;
}